@import url(https://fonts.googleapis.com/css?family=Muli);
body {
  font-family: 'Muli', sans-serif; }
  body .no-padding {
    padding: 0; }
  body .no-margin {
    margin: 0; }
  body .flexbox {
    display: flex;
    justify-content: center; }
  body #header {
    width: 100%; }
    body #header #logo, body #header #log_out {
      background-color: #3a2977;
      min-height: 150px; }
      body #header #logo .fa-power-off, body #header #log_out .fa-power-off {
        font-size: 4em !important;
        color: #fafafa; }
    body #header #mid_header {
      background-color: #0e7190;
      min-height: 150px; }
    body #header h1, body #header h2, body #header h3, body #header h4, body #header h5, body #header h6, body #header span, body #header p {
      color: #fafafa; }
    body #header .flexbox {
      flex-wrap: wrap;
      flex-direction: column; }
  body #navigation {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20%; }
    body #navigation .nav {
      border: 1px solid #111;
      float: right;
      width: 200px;
      /*width: 100%;*/ }
      body #navigation .nav li {
        position: relative;
        display: block;
        width: 100%;
        float: none;
        clear: both; }
        body #navigation .nav li button, body #navigation .nav li a {
          text-align: left;
          color: #fafafa;
          background-color: #333;
          width: 100%;
          border-width: 1px;
          border-color: #111;
          padding: 10px 5px 10px 15px; }
          body #navigation .nav li button:focus, body #navigation .nav li button:active, body #navigation .nav li button .nav .open > a, body #navigation .nav li a:focus, body #navigation .nav li a:active, body #navigation .nav li a .nav .open > a {
            background-color: #674ea7 !important;
            border: 2px solid #3a2977;
            color: #fafafa; }
          body #navigation .nav li button:hover, body #navigation .nav li a:hover {
            background-color: #0e7190 !important;
            border: 1px solid #134f5c;
            color: #fafafa; }
        body #navigation .nav li:first-child a {
          border-width: 1px; }
        body #navigation .nav li:last-child a {
          border-width: 1px;
          background-color: #134f5c;
          border: 2px solid #134f5c; }
        body #navigation .nav li .dropdown-menu {
          position: relative;
          border: 0;
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;
          margin: 0;
          padding: 0;
          width: 100%; }
          body #navigation .nav li .dropdown-menu li button {
            text-align: left;
            color: #fafafa;
            background-color: #999;
            width: 100%;
            border-width: 1px;
            border-color: #111;
            padding: 10px 5px 10px 15px; }
          body #navigation .nav li .dropdown-menu#dropdown-info li {
            padding: 10px; }
      body #navigation .nav .open > a, body #navigation .nav .open > a:focus {
        background-color: #674ea7;
        border: 1px solid #3a2977; }
      body #navigation .nav .open > a:hover {
        background-color: #134f5c;
        border: 1px solid #134f5c; }
  body h1 {
    background-color: lightgrey; }
  body h1, body h2, body h3, body h4, body h5, body h6, body label, body button {
    text-transform: capitalize; }
  body .btn-lg {
    border-radius: 0; }
  body .fa, body label {
    font-size: 1.5em !important; }
  body label {
    display: block;
    clear: both;
    padding-top: 1em; }
  body input, body select, body option, body .form-control, body .selectize-input {
    min-width: 8rem;
    height: 34px;
    max-width: 100%;
    padding: 6px 12px;
    line-height: 1.2rem;
    border: 1px solid #999;
    border-radius: 0;
    max-height: 100% !important; }
    body input:hover, body select:hover, body option:hover, body .form-control:hover, body .selectize-input:hover {
      border: 1px solid #333; }
  body .selectize-input input {
    height: 20px; }
  body #upload-av {
    border: 0;
    padding-left: 0; }
  body .col-md-2.flexbox {
    align-items: center;
    height: 80px; }
  @media screen and (min-width: 1024px) {
    body .col-left {
      border-right: 1px solid #999;
      min-height: 500px;
      height: auto; }
    body .col-right {
      border-left: 1px solid #999;
      min-height: 500px;
      height: auto; } }
  body .col-down {
    border-top: 2px solid #999; }
  body .purple-link {
    transform: rotate(-45deg);
    font-size: 4em !important;
    color: #674ea7;
    position: absolute;
    margin: -26px 0 0 -26px;
    text-shadow: 3px 2px 1px #674ea7; }
  body .checkbox .input[type=checkbox], body .checkbox input[type=checkbox], body .checkbox input[type=radio], body .checkbox input[type=radio], body .checkbox-inline .input[type=checkbox], body .checkbox-inline input[type=checkbox], body .checkbox-inline input[type=radio], body .checkbox-inline input[type=radio], body .radio .input[type=checkbox], body .radio input[type=checkbox], body .radio input[type=radio], body .radio input[type=radio], body .radio-inline .input[type=checkbox], body .radio-inline input[type=checkbox], body .radio-inline input[type=radio], body .radio-inline input[type=radio] {
    position: absolute;
    margin-left: -45px;
    margin-top: -2px; }
  body .checkbox span, body .checkbox-inline span, body .radio span, body .radio-inline span {
    margin-left: 1em; }
  body .fa-long-arrow-right {
    transform: scale(2, 1);
    color: #999; }
  body #footer {
    background-color: #999;
    padding: 0 2em;
    height: 2.3em;
    margin-top: 2em;
    margin-bottom: 2em; }
    body #footer .btn-link {
      margin-top: 5px;
      color: #fafafa;
      text-decoration: underline; }

/*# sourceMappingURL=styles.css.map */
